* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.navbar, .nav-item, .nav-link, .navbar-brand, .footer {
  background-color: #DF2935 !important;
  color: #FFFFFB !important;
  font-family: optima  !important;
  
}

.nav-link:hover {
  text-decoration: underline !important;
}

.active {
  text-decoration: underline;
}

.page {
  width: 100%;
}

.content {
  width: 80%;
  background-color: rgb(196, 194, 194);
  margin: auto;
  padding: 15px;
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 5rem;
  height: auto;
}

.github-link:link {
  color: #A01821;
}

.github-link:hover {
  color: #F7CACD;
}

.github-link:visited {
  color: #EC838A;
}

.date {
  margin-bottom: 1rem;
}

.title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  !important;
}

.news-stories {
  display: flex;
  flex-direction: column;
}

.single-news-story {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  font-size: large;
}

.single-news-story a:link, a:visited {
  color: #A01821;
}

.single-news-story a:hover {
  color: #EC838A;
}

img {
  max-width: 10rem;
  height: auto;
  margin: 5px;
}

p {
  margin: 1px;
  padding: 1px;
}

.quote {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-small;
  font-style: oblique;
}